body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #EEE;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main {
    margin: 5% 0;
}
.jokes-container section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.jokes-container section joke-card {
    display: flex;
    background-color: #FFF;
    width: 100%;
    border-bottom: 3px solid teal;
    box-shadow: 5px 5px 10px #DDD;
    margin-bottom: 10px;
}
.joke-text {
    overflow: overlay;
}
.paginated-section:not(.visible) {
    display: none;
}
.pagination ul {
    list-style: none;
    text-align: center;
}
.pagination ul li {
    display: inline-block;
    padding: .5rem;
}
.pagination ul li a {
    color: teal;
}
.pagination ul li a.active {
    color: #000;
    text-decoration: none;
}
@media screen and (min-width: 768px)  {
    .jokes-container section joke-card {
        width: calc(50% - 5px);
    }
}